<!-- templates/voter_analytics/voter.html -->
<!-- Gracious Ogyiri Asare- gpoa@bu.edu -->

{% extends "voter_analytics/base.html" %} {% block content %}
<div class="container">
  <h1>Voter Details</h1>

  <h2>{{ voter.first_name }} {{ voter.last_name }}</h2>

  <table>
    <tr>
      <th>Date of Birth:</th>
      <td>{{ voter.dob|date:"F d, Y" }}</td>
    </tr>
    <tr>
      <th>Voter Registration Date:</th>
      <td>{{ voter.date_of_registration|date:"F d, Y" }}</td>
    </tr>
    <tr>
      <th>Street Address:</th>
      <td>
        <a
          href="https://www.google.com/maps/search/?api=1&query={{ voter.street_number }}+{{ voter.street_name }}+Newton+MA+{{ voter.zip_code }}"
          target="_blank"
        >
          {{ voter.street_number }} {{ voter.street_name }}</a
        >
      </td>
    </tr>
    <tr>
      <th>Zip Code:</th>
      <td>{{ voter.zip_code }}</td>
    </tr>
    <tr>
      <th>Party Affiliation:</th>
      <td>{{ voter.party_affiliation }}</td>
    </tr>
    <tr>
      <th>Voter Score:</th>
      <td>{{ voter.voter_score }}</td>
    </tr>
  </table>
  <h3>Past Election Participation</h3>
  <table>
    <tr>
      <th>v20state:</th>
      <td>{% if voter.v20state %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>v21town:</th>
      <td>{% if voter.v21town %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>v21primary:</th>
      <td>{% if voter.v21primary %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>v22general:</th>
      <td>{% if voter.v22general %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>v23town:</th>
      <td>{% if voter.v23town %}Yes{% else %}No{% endif %}</td>
    </tr>
  </table>
  <p>
    <a href="{%url 'voters_list'%}">Back</a>
  </p>
</div>
{% endblock content %}
