<!-- hw/templates/hw/about.html-->
{% extends 'hw/base.html' %}

{% block content %}
    <h1>About This Page</h1>
    <p
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit at
      voluptates eligendi architecto quod. Quibusdam quaerat doloribus eveniet
      quod expedita incidunt corrupti similique id rerum praesentium,
      repudiandae ab. Tenetur, error.</p
    >
    <p
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
      architecto sint dolores, non, nihil similique aperiam quasi dolor quidem
      error vero quae fugit quisquam aspernatur nisi quas ab explicabo cum.</p
    >
  </body>
 {% endblock %}