<!-- blog/templates/base.html -->
{% extends "blog/base.html" %} {% block content %}

<h1>Login To Blog</h1>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %} {{ form }}
  <input type="submit" value="Login" />
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{request.GET.next}}" />
  {% else %}
  <input type="hidden" name="next" value="{% url 'show_all' %}" />
  {% endif %}
</form>
Don't have an account? <a href="{% url 'register' %}">Register here</a>.
{% endblock content %}
