body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Times New Roman", serif;
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 10px 0;
  color: #2c3e50;
}

h1 {
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
  margin-top: 20px;
}

a,
a:visited {
  color: #2a5075;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  background-color: #eef;
}

nav {
  text-align: right;
  margin-bottom: 20px;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

header {
  background: #b1defe;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 6px;
}

img {
  max-width: auto;
  height: auto;
  display: block;
  margin: 10px auto;
}
footer {
  width: 100%;
  padding: 5px;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #cce7ff;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

form {
  background: #dbf2ff;
  border: 1px solid #ddd;
  padding: 22px;
  border-radius: 8px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 2px solid #00456a;
  border-radius: 2px;
}

form input[type="submit"] {
  background: #0653a5;
  color: #bae6ff;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}

form input[type="checkbox"] {
  width: auto;
  margin: 0 8px 0 0;
  display: inline-block;
  vertical-align: middle;
}

form label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
}

.price {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  color: #052a53;
}
