<!-- mini_insta/base.html-->
{% load static %}
<html>
  <head>
    <title> Mini Insta </title>
    <link rel="stylesheet" href="{% static 'mini_insta-styles.css' %}" />
  </head>
  <body>
    <h1>Mini Insta</h1>
    {% comment %} <nav>
      <ul>
        <li>
          <a href="{% url 'show_all_profiles' %}">Show All Profiles</a>
        </li>
      </ul>
    </nav> {% endcomment %}
    {% block content %} {% endblock content %}
    <footer>
      <p>
        <a href="{% url 'show_all_profiles' %}">Show all profiles</a>
      </p>
      <p>Created by Gracious Ogyiri Asare for CS412. </p>
    </footer>
  </body>
</html>
