<!-- mini_insta/base.html-->
{% load static %}
<html>
  <head>
    <title> Mini Insta </title>
    <link rel="stylesheet" href="{% static 'mini_insta-styles.css' %}" />
  </head>
  <body>
    <h1>Mini Insta</h1>
    {% block content %} {% endblock content %}
    <footer>
      <p>
        <a href="{% url 'show_all_profiles' %}">
          <img src="{% static 'home-btn.png' %}" alt="home button" width="32" height="32">
        </a>
      </p>
      <p>Created by Gracious Ogyiri Asare for CS412. </p>
    </footer>
  </body>
</html>
