<!--mini_insta/create_post_form.html-->
<!-- Gracious Ogyiri Asare - gpoa@bu.edu -->

{% extends "mini_insta/base.html" %} {% block content %}
<h1>Create a New Post</h1>

<form
  method="post"
  action="{% url 'create_post' profile.pk %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <th><label>Image(s):</label></th>
      <td>
        <input type="file" name="files" id="files" multiple />
      </td>
    </tr>
  </table>

  <input type="submit" name="submit" value="Submit" />
  <a href="{% url 'show_profile' profile.pk %}">
    <button type="button">Cancel</button>
  </a>
</form>

{% endblock content %}
