<!-- mini_insta/show_profile.html-->
<!-- Gracious Ogyiri Asare - gpoa@bu.edu -->

{% extends "mini_insta/base.html" %} {% block content %}

<div class="user-profile">
  <img
    class="profile-picture"
    src="{{ profile.profile_image_url }}"
    alt="{{ profile.username }}'s profile picture."
  />
  <div class="profile-info">
    <h3>@{{ profile.username }}</h3>
    <h2>
      <a href="{% url 'show_followers' profile.pk %}">
        Followers: {{ profile.get_num_followers }}
      </a>
      |
      <a href="{% url 'show_following' profile.pk %}">
        Following: {{ profile.get_num_following }}
      </a>
    </h2>
    <h2>{{ profile.display_name }}</h2>
    <p class="bio">{{ profile.bio_text }}</p>
    <p class="date">Joined {{ profile.join_date }}</p>
    <a href="{% url 'update_profile' profile.pk %}">
      <button type="button">Update Profile</button>
    </a>
  </div>
</div>
<div>
  <h2>Posts</h2>
  <div class="posts">
    {% for post in profile.get_all_posts %}
    <div class="post-item">
      {% if post.get_all_photos %}

      <a href="{% url 'show_post' post.pk %}">
        <img
          src="{{ post.get_all_photos.first.get_image_url }}"
          alt="Post photo"
          style="max-width: 300px"
      /></a>

      {% else %}
      <p>No image uploaded</p>
      {% endif %}
      <a href="{% url 'show_post' post.pk %}"
        ><h4>Caption- {{ post.caption }}</h4></a
      >
    </div>
    <hr />
    {% endfor %}
  </div>
</div>

{% endblock content %}
