<!-- mini_insta/show_post.html-->
<!-- Gracious Ogyiri Asare - gpoa@bu.edu -->

{% extends "mini_insta/base.html" %} {% block content %}
<div class="post-detail">
  <h2>{{ post.profile.display_name }} </h2>
  <h3>{{ post.profile.username }} </h3>
  {% for photo in post.get_all_photos %} {% if photo.get_image_url %}
  <img
    src="{{ photo.get_image_url }}"
    alt="Post Image"
    style="max-width: 300px"
  />
  {% else %}
  <p>No image available</p>
  {% endif %} {% endfor %}
  <p><strong>Likes:</strong> {{ post.get_likes|length }}</p>
  {% if post.get_likes %}
  <strong><p>Liked by @{{ post.get_likes.0.username }} and others</p></strong>
  {% endif %}
  <p class="caption">{{ post.caption }}</p>
  <p class="date">Posted on {{ post.timestamp }}</p>
  <a href="{% url 'delete_post' post.pk %}"
    ><button type="button">Delete</button></a
  >
  <a href="{% url 'update_post' post.pk %}"
    ><button type="button">Update</button></a
  >
</div>
<h4>Comments:</h4>
{% for comment in post.comment_set.all %}
<p><strong>@{{ comment.profile.username }}:</strong> {{ comment.text }}</p>
{% empty %} {% endfor %} {% endblock content %}
