<!-- mini_insta/show_all_profiles.html-->
{% extends "mini_insta/base.html" %}{% block content %}
<h2>All Profiles</h2>

<div class="profiles">
  {% for profile in profiles %}
  <div class="profile-item">
    <a href="{% url 'show_profile' profile.pk %}">
      <h3 class="display-name">{{ profile.display_name }}</h3>
    </a>
    <h3>@{{ profile.username }}</h3>
    <a href="{% url 'show_profile' profile.pk %}">
      <img
        src="{{ profile.profile_picture_url }}"
        alt="{{ profile.username }}'s profile picture."
        width="200"
        height="200"
      />
    </a>
  </div>
</div>

{% endfor %} {% endblock content %}
